#!name = Documents
#!desc = Documents解锁
  
#[rewrite_local]
https://license.pdfexpert.com/api/2.0/documents/subscription/refresh url script-request-body https://raw.githubusercontent.com/Auniquesir/Box/refs/heads/X/script/Documents.js

#[mitm]
hostname = *.pdfexpert.com
